@page
@model CoreCrud.Pages.Publishers.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-6">
        <h1>Add New Publisher</h1>
        <p>Fields marked <span class="text-danger">*</span> are required.</p>
    </div>
    <div class="col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXnGQ5_pxnBfOdUP6MEQy-NuAVRzH2YVCxPfW2qaRIZxfPk8LscA">
    </div>
</div>
<br />

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Publisher.Name" class="control-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="Publisher.Name" class="form-control" />
                <span asp-validation-for="Publisher.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Publisher.Country" class="control-label"></label>
                <input asp-for="Publisher.Country" class="form-control" />
                <span asp-validation-for="Publisher.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
