@page
@model CoreWiki.Pages.ComputerWikiModel
@{
    ViewData["Title"] = "ComputerWiki";
}

<h1>Computer Wiki</h1>
<a href="https://en.wikipedia.org/wiki/Computer"> https://en.wikipedia.org/wiki/Computer </a>
<hr />
<table>
    <thead>
        <tr>
            <th colspan="2" style="text-align:center;"> Computer </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Acer_Aspire_8920_Gemstone.jpg/169px-Acer_Aspire_8920_Gemstone.jpg">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Acer_Aspire_8920_Gemstone.jpg/169px-Acer_Aspire_8920_Gemstone.jpg" alt="Acer_Aspire_8920_Gemstone.jpg" width="112" height="81" />
                </a>
            </td>
            <td>
                <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Columbia_Supercomputer_-_NASA_Advanced_Supercomputing_Facility.jpg/168px-Columbia_Supercomputer_-_NASA_Advanced_Supercomputing_Facility.jpg">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Columbia_Supercomputer_-_NASA_Advanced_Supercomputing_Facility.jpg/168px-Columbia_Supercomputer_-_NASA_Advanced_Supercomputing_Facility.jpg" alt="Columbia_Supercomputer_-_NASA_Advanced_Supercomputing_Facility.jpg" width="112" height="81" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/2010-01-26-technikkrempel-by-RalfR-05.jpg/179px-2010-01-26-technikkrempel-by-RalfR-05.jpg">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/2010-01-26-technikkrempel-by-RalfR-05.jpg/179px-2010-01-26-technikkrempel-by-RalfR-05.jpg" alt="2010-01-26-technikkrempel-by-RalfR-05.jpg" width="112" height="81" />
                </a>
            </td>
            <td>
                <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Thinking_Machines_Connection_Machine_CM-5_Frostburg_2.jpg/144px-Thinking_Machines_Connection_Machine_CM-5_Frostburg_2.jpg">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Thinking_Machines_Connection_Machine_CM-5_Frostburg_2.jpg/144px-Thinking_Machines_Connection_Machine_CM-5_Frostburg_2.jpg" alt="Thinking_Machines_Connection_Machine_CM-5_Frostburg_2.jpg" width="112" height="81" />
                </a>
            </td>
        </tr>
    </tbody>
</table>

<br />

<p>
    A <strong>computer </strong>is a machine that can be instructed to carry out <a href="https://en.wikipedia.org/wiki/Sequence"> sequences </a> of <a href="https://en.wikipedia.org/wiki/Arithmetic"> arithmetic </a> or <a href="https://en.wikipedia.org/wiki/Boolean_algebra"> logical </a> operations automatically via <a href="https://en.wikipedia.org/wiki/Computer_programming"> computer programming </a>. Modern computers have the ability to follow generalized sets of operations, called <a href="https://en.wikipedia.org/wiki/Computer_program"><em> programs </em></a>. These programs enable computers to perform an extremely wide range of tasks. A "complete" computer including the <a href="https://en.wikipedia.org/wiki/Computer_hardware"> hardware </a>, the <a href="https://en.wikipedia.org/wiki/Operating_system"> operating system </a> (main <a href="https://en.wikipedia.org/wiki/Software"> software </a>), and <a href="https://en.wikipedia.org/wiki/Peripheral"> peripheral </a> equipment required and used for "full" operation can be referred to as a <strong> computer system </strong>. This term may as well be used for a group of computers that are connected and work together, in particular a <a href="https://en.wikipedia.org/wiki/Computer_network"> computer network </a> or <a href="https://en.wikipedia.org/wiki/Computer_cluster"> computer cluster </a>.
</p>

<h2>Types</h2>
<hr />

<p>
    Computers can be classified in a number of different ways, including:
</p>

<h3>By architecture</h3>

<ul>
    <li><a href="https://en.wikipedia.org/wiki/Analog_computer">Analog Computer</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Computer#Digital_computers">Digital Computer</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Hybrid_computer">Hybrid Computer</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Harvard_architecture">Harvard Architecture</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Von_Neumann_architecture">Von Neumann Architecture</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Reduced_instruction_set_computer">Reduced Instruction Set Computer</a></li>
</ul>

<h3>By size and form-factor</h3>

<ul>
    <li><a href="https://en.wikipedia.org/wiki/Mainframe_computer">Mainframe Computer</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Supercomputer">Supercomputer</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Minicomputer">Minicomputer</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Microcomputer">Microcomputer</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Personal_computer">Personal Computer</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Workstation">Workstation</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Laptop">Laptop</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Tablet_computer">Tablet Computer</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Smartphone">Smartphone</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Single-board_computer">Single-board Computer</a></li>
</ul>

<h2>References</h2>
<hr/>

<ol>
    <li><a href="https://en.wikipedia.org/wiki/Computer#CITEREFEvans2018">Evans 2018</a>, p. 23.</li>
    <li><a href="https://en.wikipedia.org/wiki/Computer#CITEREFSmith2013">Smith 2013</a>, p. 6.</li>
</ol>