@page
@model CoreWiki.Pages.LaptopWikiModel
@{
    ViewData["Title"] = "LaptopWiki";
}

<h1>Laptop Wiki</h1>
<a href="https://en.wikipedia.org/wiki/Laptop"> https://en.wikipedia.org/wiki/Laptop </a>
<hr />

