@page
@model CoreWiki.Pages.LaptopWikiModel
@{
    ViewData["Title"] = "LaptopWiki";
}

<h1 style="font-family:Cambria;">Laptop Wiki</h1>
<a href="https://en.wikipedia.org/wiki/Laptop" target="_blank" style="font-family:Cambria;"> https://en.wikipedia.org/wiki/Laptop </a>
<hr />

<a href="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Lenovo_G500s_laptop-2905.jpg/435px-Lenovo_G500s_laptop-2905.jpg">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e4/Lenovo_G500s_laptop-2905.jpg/435px-Lenovo_G500s_laptop-2905.jpg" alt="Lenovo_G500s_laptop-2905.jpg" width="290" height="218" />
</a>
<h6 style="font-family:Cambria;">A "modern-day" <a href="https://en.wikipedia.org/wiki/Lenovo">Lenovo</a> laptop</h6>

<br />

<p style="font-family:Cambria;">
    A <strong>laptop computer </strong>(also shortened to just <strong>laptop</strong>; or called a <strong>notebook computer</strong>) is a small, portable <a href="https://en.wikipedia.org/wiki/Personal_computer">personal computer </a>(PC) with a "<a href="https://en.wikipedia.org/wiki/Clamshell_design">clamshell</a>" form factor, typically having a thin <a href="https://en.wikipedia.org/wiki/Liquid-crystal_display">LCD</a> or <a href="https://en.wikipedia.org/wiki/Light-emitting_diode">LED</a> <a href="https://en.wikipedia.org/wiki/Computer_monitor">computer screen</a> mounted on the inside of the upper lid of the <a href="https://en.wikipedia.org/wiki/Clamshell_design">clamshell</a> and an <a href="https://en.wikipedia.org/wiki/Computer_keyboard">alphanumeric keyboard</a> on the inside of the lower lid. The clamshell is opened up to use the computer. Laptops are folded shut for transportation, and thus are suitable for <a href="https://en.wikipedia.org/wiki/Mobile_computing">mobile use</a>.Its name comes from <a href="https://en.wikipedia.org/wiki/Lap">lap</a>, as it was deemed to be placed on a person's lap when being used. Although originally there was a distinction between laptops and notebooks (the former being bigger and heavier than the latter), as of 2014, there is often no longer any difference.Laptops are commonly used in a variety of settings, such as at work, in education, for playing games, Internet surfing, for personal multimedia, and general home computer use.
</p>

<h2 style="font-family:Cambria;">Terminology Variants</h2>
<hr />

<p style="font-family:Cambria;">
    The terms <em>laptop</em> and <em>notebook</em> are used interchangeably to describe a portable computer in English, although in some parts of the world one or the other may be preferred. There is some question as to the original etymology and specificity of either term—the term <em>laptop</em> appears to have been coined in the early 1980s to describe a mobile computer which could be used on one's lap, and to distinguish these devices from earlier, much heavier, <a href="https://en.wikipedia.org/wiki/Portable_computer">portable computers</a> (informally called "luggables"). The term "notebook" appears to have gained currency somewhat later as manufacturers started producing even smaller portable devices, further reducing their weight and size and incorporating a display roughly the size of <a href="https://en.wikipedia.org/wiki/ISO_216#A_series">A4</a> paper; these were marketed as notebooks to distinguish them from bulkier laptops.Regardless of the etymology, by the late 1990s, the terms were interchangeable.
</p>

<h2 style="font-family:Cambria;">References</h2>
<hr />

<small>
    <ol style="font-family:Cambria;">
        <li>Beal, Vangie. <a href="https://www.webopedia.com/TERM/L/laptop_computer.html">"What is Laptop Computer? Webopedia Definition".</a> <em>www.webopedia.com.</em></li>
        <li>Strickland, Jonathan. <a href="https://computer.howstuffworks.com/notebook-vs-netbook-vs-ultra-mobile-pc.htm">"What's the difference between notebooks, netbooks and ultra-mobile PCs?".</a> <em>HowStuffWorks.com.</em> Retrieved 23 September 2014.</li>
    </ol>
</small>