@page
@model CoreWiki.Pages.SmartphoneWikiModel
@{
    ViewData["Title"] = "SmartphoneWiki";
}

<h1>Smartphone Wiki</h1>
<a href="https://en.wikipedia.org/wiki/Smartphone"> https://en.wikipedia.org/wiki/Smartphone </a>
<hr />

