@page
@model CoreWiki.Pages.SmartphoneWikiModel
@{
    ViewData["Title"] = "SmartphoneWiki";
}
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: justify;
        }
    </style>
</head>

<h1 style="font-family:Cambria;">Smartphone Wiki</h1>
<a href="https://en.wikipedia.org/wiki/Smartphone" target="_blank" style="font-family:Cambria;"> https://en.wikipedia.org/wiki/Smartphone </a>
<hr />

<a href="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Fotos_produzidas_pelo_Senado_%2830554309793%29.jpg/450px-Fotos_produzidas_pelo_Senado_%2830554309793%29.jpg">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Fotos_produzidas_pelo_Senado_%2830554309793%29.jpg/450px-Fotos_produzidas_pelo_Senado_%2830554309793%29.jpg" alt="Fotos_produzidas_pelo_Senado.jpg" width="300" height="200" />
</a>

<h6 style="font-family:Cambria;">Two smartphones: <span style="color:blue">a Samsung Galaxy J5</span> (left) <br />and an <span style="color:blue">iPhone 6S</span> (right)</h6>

<br />

<p style="font-family:Cambria;">
    <strong>Smartphones</strong> are a class of <a href="https://en.wikipedia.org/wiki/Mobile_phone">mobile phones</a> and of multi-purpose <a href="https://en.wikipedia.org/wiki/Mobile_computing">mobile computing</a> devices. They are distinguished from <a href="https://en.wikipedia.org/wiki/Feature_phone">feature phones</a> by their stronger hardware capabilities and extensive <a href="https://en.wikipedia.org/wiki/Mobile_operating_system">mobile operating systems</a>, which facilitate wider <a href="https://en.wikipedia.org/wiki/Application_software">software</a>, <a href="https://en.wikipedia.org/wiki/Internet">internet</a> (including <a href="https://en.wikipedia.org/wiki/Web_navigation">web browsing</a> over <a href="https://en.wikipedia.org/wiki/Mobile_broadband">mobile broadband</a>), and <a href="https://en.wikipedia.org/wiki/Multimedia">multimedia</a> functionality (including music, video, <a href="https://en.wikipedia.org/wiki/Camera_phone">cameras</a>, and <a href="https://en.wikipedia.org/wiki/Mobile_game">gaming</a>), alongside core phone functions such as <a href="https://en.wikipedia.org/wiki/Telephone_call">voice calls</a> and <a href="https://en.wikipedia.org/wiki/Text_messaging">text messaging</a>. Smartphones typically include various <a href="https://en.wikipedia.org/wiki/Sensor">sensors</a> that can be leveraged by their software, such as a <a href="https://en.wikipedia.org/wiki/Magnetometer">magnetometer</a>, <a href="https://en.wikipedia.org/wiki/Proximity_sensor">proximity sensors</a>, <a href="https://en.wikipedia.org/wiki/Barometer">barometer</a>, <a href="https://en.wikipedia.org/wiki/Gyroscope">gyroscope</a> and <a href="https://en.wikipedia.org/wiki/Accelerometer">accelerometer</a>, and support wireless communications protocols such as <a href="https://en.wikipedia.org/wiki/Bluetooth">Bluetooth</a>, <a href="https://en.wikipedia.org/wiki/Wi-Fi">Wi-Fi</a>, and <a href="https://en.wikipedia.org/wiki/Satellite_navigation">satellite navigation</a>.
</p>

<h2 style="font-family:Cambria;">Sales</h2>
<hr />

<p style="font-family:Cambria;">
    Since 1996, smartphone shipments have had positive growth. In November 2011, 27% of all photographs created were taken with camera-equipped smartphones. In September 2012, a study concluded that 4 out of 5 smartphone owners use the device to shop online. Global smartphone sales surpassed the sales figures for feature phones in early 2013. Worldwide shipments of smartphones topped 1 billion units in 2013, up 38% from 2012's 725 million, while comprising a 55% share of the mobile phone market in 2013, up from 42% in 2012. In Q1 2016 for the first time the shipments dropped by 3 percent <a href="https://en.wiktionary.org/wiki/year-over-year">year on year</a>. The situation was caused by the maturing China market.
</p>

<h4 style="font-family:Cambria;"><strong>By manufacturer</strong></h4>
<br />

<div class="text-center">
    <h5 style="font-family:Cambria;"><strong>Worldwide smartphones producers market share</strong></h5>
</div>

<div>
    <table align="center" style="font-family:Cambria;">
        <thead>
            <tr>
                <th>Source</th>
                <th>Date</th>
                <th><a href="https://en.wikipedia.org/wiki/Samsung_Electronics">Samsung</a></th>
                <th><a href="https://en.wikipedia.org/wiki/Huawei">Huawei</a></th>
                <th><a href="https://en.wikipedia.org/wiki/Apple_Inc.">Apple Inc.</a></th>
                <th><a href="https://en.wikipedia.org/wiki/Xiaomi">Xiaomi</a></th>
                <th><a href="https://en.wikipedia.org/wiki/Oppo">Oppo</a></th>
                <th>Others</th>
                <th>Reference</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Gartner">Gartner</a></td>
                <td>Q2 2018</td>
                <td>19.3%</td>
                <td>13.3%</td>
                <td>11.9%</td>
                <td>8.8%</td>
                <td>7.6%</td>
                <td>39.0%</td>
                <td><small><a href="#2">[1]</a></small></td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/International_Data_Corporation">IDC</a></td>
                <td>Q2 2018</td>
                <td>21.0%</td>
                <td>15.9%</td>
                <td>12.1%</td>
                <td>9.5%</td>
                <td>8.6%</td>
                <td>32.9%</td>
                <td><small><a href="#2">[2]</a></small></td>
            </tr>
        </tbody>
    </table>
</div>

<br />

<p style="font-family:Cambria;">
    In 2011, Samsung had the highest shipment <a href="https://en.wikipedia.org/wiki/Market_share">market share</a> worldwide, followed by Apple. In 2013, Samsung had 31.3% market share, a slight increase from 30.3% in 2012, while Apple was at 15.3%, a decrease from 18.7% in 2012. Huawei, LG and Lenovo were at about 5% each, significantly better than 2012 figures, while others had about 40%, the same as the previous years figure. Only Apple lost market share, although their shipment volume still increased by 12.9%; the rest had significant increases in shipment volumes of 36–92%. In Q1 2014, Samsung had a 31% share and Apple had 16%. In Q4 2014, Apple had a 20.4% share and Samsung had 19.9%. In Q2 2016, Samsung had a 22.3% share and Apple had 12.9%. In Q1 2017, IDC reported that Samsung was first placed, with 80 million units, followed by Apple with 50.8 million, Huawei with 34.6 million, Oppo with 25.5 million and Vivo with 22.7 million.
</p>

<p style="font-family:Cambria;">
    Samsung's mobile business is half the size of Apple's, by revenue. Apple business increased very rapidly in the years 2013 to 2017.
</p>

<h4 style="font-family:Cambria;"><strong>By operating system</strong></h4>

<p style="font-family:Cambria;">
    <em>Further information: <a href="https://en.wikipedia.org/wiki/Mobile_operating_system#By_operating_system">Mobile operating system § By operating system</a></em>
</p>

<h2 style="font-family:Cambria;">References</h2>
<hr />

<small>
    <ol style="font-family:Cambria;">
        <li id="1"><a href="https://www.gartner.com/en/newsroom/press-releases/2018-08-28-gartner-says-huawei-secured-no-2-worldwide-smartphone-vendor-spot-surpassing-apple-in-second-quarter">"Gartner Says Huawei Secured No. 2 Worldwide Smartphone Vendor Spot, Surpassing Apple in Second Quarter 2018".</a>  Gartner. Retrieved November 11, 2018.</li>
        <li id="2"><a href="https://computer.howstuffworks.com/notebook-vs-netbook-vs-ultra-mobile-pc.htm">"Top Five Smartphone Vendors, Shipments, Market Share, and Year-Over-Year Growth, Q2 2018".</a>  International Data Corporation. Retrieved November 11, 2018.</li>
    </ol>
</small>