@page
@model CoreCrud.Pages.Books.CreateModel

@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-6">
        <h1>Add New Book</h1>
        <p>Fields marked <span class="text-danger">*</span> are required.</p>
    </div>
    <div class="col-md-6">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMx2R432aozlMUMzlTAfehpVoGUt1xmaW-bdnzcv1Ni-OJ-D0Qlg">
    </div>
</div>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="Book.Title" class="form-control" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Author" class="control-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="Book.Author" class="form-control" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Edition" class="control-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="Book.Edition" class="form-control" />
                <span asp-validation-for="Book.Edition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.YearPublished" class="control-label"></label>
                <input asp-for="Book.YearPublished" class="form-control" />
                <span asp-validation-for="Book.YearPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.LaunchDate" class="control-label"></label>
                <input asp-for="Book.LaunchDate" class="form-control" />
                <span asp-validation-for="Book.LaunchDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Genre" class="control-label"></label>
                <input asp-for="Book.Genre" class="form-control" />
                <span asp-validation-for="Book.Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Price" class="control-label"></label>
                <span class="text-danger">*</span>
                <input asp-for="Book.Price" class="form-control" />
                <span asp-validation-for="Book.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.IsBestseller" class="control-label"></label>
                <input asp-for="Book.IsBestseller" class="form-control" />
                <span asp-validation-for="Book.IsBestseller" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.PublisherId" class="control-label"></label>
                <span class="text-danger">*</span>
                <select asp-for="Book.PublisherId" class="form-control" asp-items="ViewBag.PublisherId"></select>
                <span asp-validation-for="Book.PublisherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
